<div class="ink-grid">
   <h1>{{title}}</h1>
   <div class="column-group horizontal-gutters">
      <div class="xlarge-40 large-40 medium-40 small-100 tiny-100">
         <img class="poster" src="{{posters.original}}" />
      </div>
      <div class="xlarge-40 large-40 medium-40 small-100 tiny-100">
         <div>
            <span>{{ratings.critics_score}}</span>
            <span>{{ratings.audience_score}}</span>
         </div>
         <div>
            <span>{{runtime}}</span>
            <span>{{ratings.critics_rating}}</span>
         </div>
         <h3>Synopsis</h3>
         <div>{{synopsis}}</div>
      </div>
   </div>
</div>
